.body{
    margin:0;
    position: relative;
}
.row{
    margin:2%;
    position: absolute;
    justify-content: center;
}
.News-col {
    margin-bottom: 15px;
    width: 28rem;
    height:31rem;
    overflow: hidden;
    overflow-y: auto;
}

.navbar{
    background-color: rgb(139, 19, 19);
}
.navbar a{
    color:white;

}
.dropdown-menu li a{
    color:white;
}
.dropdown-menu{
    background-color: rgb(34, 33, 33);
}
.card-img-top{
    height: 15rem;
}
.News-col::-webkit-scrollbar {
    display: none;
}
.not-found{
    display: flex;
    justify-content: center;
}
